<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{site.logo | relative_url}}" alt="Logo" />

        <p>
          <em>A Robotic Helper for Everyone, In Every Home.</em>

        <p>
          We have all grown up watching sci-fi movies showing cool robots helping people in everyday scenes.
        <p>
          Yet, this dream appears to be always just out of reach.
        <p>
          We present a consumer robotic hand with the versatility of a human hand while being extremely affordable.
        <p>
          We will create an inexpensive consumer robotic aid for people to perform mundane tasks like
          cutting vegetables and putting away groceries in the home.
        <p>

        <ul class="downloads">
          <li><a href="{{ site.media_zip_url }}">Download All <strong>ZIP</strong></a></li>
          <li><a href="{{ site.deck_url | relative_url }}">Download Deck <strong>PDF</strong></a></li>
          <li><a href="{{ site.video_url }}">Download HD <strong>MP4</strong></a></li>
        </ul>


        <p>Contact us at: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>

      </header>
      <section>

      {{ content }}

      </section>

      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
